:root {
  --bg: url(../img-bgd/bg-yellow.svg);
  --card-bg-color: #1d1c19;
  --card-color-primary: #f7dd43;
  --card-title-border-color: #746615;

  font-size: 62.5%;
}

body.blue,
footer.blue,
.fa-brands.blue {
  --card-bg-color: #202024;
  --card-color-primary: #338af3;
  --card-title-border-color: #338af3;
}

body.blue {
  --bg: url(../img-bgd/bg-blue.svg);
}

body.green,
footer.green,
.fa-brands.green {
  --card-bg-color: #1a1f1b;
  --card-color-primary: #047c3f;
  --card-title-border-color: #047c3f;
}

body.green {
  --bg: url(../img-bgd/bg-green.svg);
}

body {
  background: #121214 var(--bg) no-repeat top center/cover;
}

body * {
  font-family: "Roboto", sans-serif;
}











